<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PutCenas</servlet-name>
        <servlet-class>so2.rest.PutCenas</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DeleteCenas</servlet-name>
        <servlet-class>so2.rest.DeleteCenas</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetMedia</servlet-name>
        <servlet-class>so2.rest.GetMedia</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetLista</servlet-name>
        <servlet-class>so2.rest.GetLista</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetVezes</servlet-name>
        <servlet-class>so2.rest.GetVezes</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PostFirstFase</servlet-name>
        <servlet-class>so2.rest.PostFirstFase</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PostSecondFase</servlet-name>
        <servlet-class>so2.rest.PostSecondFase</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMedia</servlet-name>
        <url-pattern>/Media</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVezes</servlet-name>
        <url-pattern>/Vezes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLista</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutCenas</servlet-name>
        <url-pattern>/Criar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCenas</servlet-name>
        <url-pattern>/Remover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostFirstFase</servlet-name>
        <url-pattern>/Responder1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostSecondFase</servlet-name>
        <url-pattern>/Responder2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
