<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletGet</servlet-name>
        <servlet-class>so2.rest.ServletGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPut</servlet-name>
        <servlet-class>so2.rest.ServletPut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelete</servlet-name>
        <servlet-class>so2.rest.ServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResponder</servlet-name>
        <servlet-class>so2.rest.ServletResponder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMedia</servlet-name>
        <servlet-class>so2.rest.ServletMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContador</servlet-name>
        <servlet-class>so2.rest.ServletContador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAResponder</servlet-name>
        <servlet-class>so2.rest.ServletAResponder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGet</servlet-name>
        <url-pattern>/ServletGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPut</servlet-name>
        <url-pattern>/ServletPut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelete</servlet-name>
        <url-pattern>/ServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResponder</servlet-name>
        <url-pattern>/ServletResponder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMedia</servlet-name>
        <url-pattern>/ServletMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContador</servlet-name>
        <url-pattern>/ServletContador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAResponder</servlet-name>
        <url-pattern>/ServletAResponder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
